
#loading img { 
	border: none;
	margin-bottom: 0;
}

.modal.large{
    width: 780px;
    margin-left: -390px; /* - width/2 */
}

#jne .group { display:inline; margin: 0px 10px }

#jne .pagination { margin-top: 5px !important }

#jne .hide {
	display: none;
}
#jne .hidden {
	visibility: hidden;
}
#jne .textcenter{
	text-align: center !important; 
}
#jne .rowcenter {
	vertical-align: middle !important;
	text-align: center !important;
}

#jne{
	margin: 10px auto;
	font-family: Verdana,Tahoma,sans-serif;
	font-size: 8pt !important;
	color: #333333;	
}

#jne form { 
	margin-top: 10px; 
	}
	#jne table { 
		margin-bottom: 10px; 
		}
		#jne table th { 
			font-size: 10pt; 
		}
		#jne table td { 
			font-size: 8pt; 
		}
		
/* widget jne style */

.bootstrap .widget-jne {
		margin-top: 10px; 
	}
	.bootstrap .widget-jne a {

	}
	.bootstrap .widget-jne a:hover {

	}
	
	.widget-jne .form-search input[type="text"] {
		height: 30px;
	}
	
/* end widget jne style */

ul#shipping_method {
	text-align: left;
}

ul#shipping_method li {
	list-style-type: none;
	margin-left: 0px;
}

/* woocommerce form row calcultor shipping validation */

.shipping_calculator .form-row.required select,
.shipping_calculator .form-row.required input{
	border:1px solid #B85F56;
}
.shipping_calculator .form-row.required:after {
	content: 'This field is required';
}
