
.text-right {
	text-align: right;
}

#loading img { 
	border: none;
	margin-bottom: 0;
}

.bootstrap.widget-jne >.modal-large{
   width:940px;
   margin-left:-470px;
}

.bootstrap h1,
.bootstrap h2,
.bootstrap h3,
.bootstrap h4,
.bootstrap h5,
.bootstrap table th {
	border-top: 0;
	border-bottom: 0;
}
.bootstrap .group { display:inline; margin: 0px 10px }

.bootstrap .pagination { margin-top: 5px !important }

.bootstrap .hide {
	display: none;
}
.bootstrap .hidden {
	visibility: hidden;
}
.bootstrap .text-center{
	text-align: center !important; 
}
.bootstrap .row-center {
	vertical-align: middle !important;
	text-align: center !important;
}

#jne{
	margin: 10px auto;
	font-family: Verdana,Tahoma,sans-serif;
	font-size: 8pt !important;
	color: #333333;	
}

.bootstrap form { 
	margin-top: 10px; 
	}
	.bootstrap table { 
		margin-bottom: 10px; 
		}
		.bootstrap table th { 
			font-size: 10pt; 
		}
		.bootstrap table td { 
			font-size: 8pt; 
		}
		
/* widget jne style */

.bootstrap .widget-jne {
		margin-top: 10px; 
	}
	.bootstrap .widget-jne a {

	}
	.bootstrap .widget-jne a:hover {

	}
	
	.widget-jne .form-search input[type="text"] {
		max-height: 30px;
		height: auto;
	}

/* end widget jne style */

ul#shipping_method {
	text-align: left;
}

ul#shipping_method li {
	list-style-type: none;
	margin-left: 0px;
}

/* woocommerce form row calcultor shipping validation */

.shipping_calculator .form-row.required select,
.shipping_calculator .form-row.required input{
	border:1px solid #B85F56;
}
.shipping_calculator .form-row.required:after {
	content: 'This field is required';
}

/* popup/tip table weight content */

.jne-weight-content tr.row-jne-weight-data{}
.jne-weight-content tr.row-jne-weight-tolerance{}
.jne-weight-content tr.row-jne-weight-total{}

.jne-weight-content td.col-1{
	width: 70%;
}
.jne-weight-content td.col-2{
	width: 2%; 
}
.jne-weight-content td.col-3{
	width: 28%;
	padding-left: 0;
	padding-right: 0;
}
